.header {
  background-color: black;
  text-align: center;
}
.title {
  font-family: $font-main;
  color: $aqua;
}

.logo {
  width: 20rem;
  margin-top: 2rem;
  @media all and (min-width: 768px) {
    width: 25rem;
  }
}
