.header {
  background-color: black;
  text-align: center;
}
.page__header {
  width: 100%;
}
.title {
  font-family: $font-main;
  color: $aqua;
}

.logo {
  width: 20rem;
  margin-top: 2rem;
}
