.main {
  font-family: $font-main;
  border-style: none;
  box-sizing: border-box;
  background-color: black;
  width: 100%;
}
.title {
  margin: 1rem;
  color: $dark-grey;
}

.form {
  text-align: center;
  padding-left: 1rem;
  box-sizing: border-box;

  &__input-text {
    margin: 1rem;
    width: 18rem;
    border: solid 3px $aqua;
    padding: 0.5rem;
    border-radius: 3px;
    color: $aqua;
    ::placeholder {
      color: $aqua;
    }
    ::value {
      color: $aqua;
    }
  }
  &__label {
    color: $color-bg;
  }
}

.card {
  &__list {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  &__item {
    margin: 1rem;
    padding: 1rem;
    width: 10rem;
    height: 12rem;
    list-style: none;
    border-radius: 0.5rem;
    border: 1px solid (127, 194, 241);
    background-color: rgba(127, 194, 241, 0.2);
    font-size: 0.8rem;
    color: $button-color;
  }
  &__img {
    width: 8rem;
  }
}
