.main {
  font-family: $font-main;
  border-style: none;
  box-sizing: border-box;
  background-color: black;
  width: 100%;
}
.title {
  margin: 1rem;
  color: $dark-grey;
}

.form {
  text-align: center;
  padding-left: 1rem;
  box-sizing: border-box;

  &__input-text {
    margin: 0.6rem;
    width: 14rem;
    border: solid 3px $aqua;
    padding: 0.4rem;
    border-radius: 2px;
    color: grey;
    ::placeholder {
      color: $aqua;
    }
    ::value {
      color: $aqua;
    }
  }

  &__input-select {
    margin: 0.6rem;
    border: solid 3px $aqua;
    padding: 0.4rem;
    border-radius: 2px;
    color: grey;

    ::value {
      color: $aqua;
    }
  }
}

.resetButton {
  padding: 0.5rem 1.5rem;
  border-radius: 0.5rem;
  border: none;
  border: 2px solid $button-color;
  background-color: $button-color;
  color: #fff;
  cursor: pointer;
  transition: all ease 0.3s;
  margin-left: 0.6rem;

  &:hover {
    border-color: $grey;
    background-color: $grey;
  }
}

.card {
  &__list {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  &__item {
    margin: 1rem;
    width: 11rem;
    height: 15.5rem;
    list-style: none;
    border: 1px solid (127, 194, 241);
    background-color: $button-color;
    font-size: 0.8rem;
    color: $button-color;
    text-decoration: none;
    &:hover {
      border: solid 0.4rem $aqua;
      border-radius: 0.1rem;
    }
  }
  &__link {
    text-decoration: none;
  }
  &__img {
    width: 11rem;
  }
  &__title {
    text-decoration: none;
    color: white;
    margin-left: 0.3rem;
    padding: 0.1rem;
    font-size: 0.9rem;
  }
  &__description {
    text-decoration: none;
    color: white;
    margin-left: 0.3rem;
    padding: 0.1rem;
    font-size: 0.8rem;
  }
}
